body {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-weight: bold;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 3px black solid;
}

.hamburger-menu {
    position: absolute;
    z-index: 10000;
}

.nav-menu {
    display: none;
}

.header {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
}

.back-to-the-top {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 70%;
}

.logo-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.menu-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
}

.menu-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-bar li {
    margin: 0 15px;
}

.menu-bar li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: 0.3s ease;
    border-radius: 10px;
}

.menu-bar li a:hover {
    background-color: ivory;
}

.index-html {
    color: ivory !important;
    background-color: black;
}

.index-html:hover {
    background-color: black !important;
}

.main-text {
    margin: 0;
    padding: 50px 0;
    width: 100%;
    height: auto;
    background-color: ivory;
    /*position:relative;*/
    display: flex;
    flex-direction: column;
}

.sub-text {
    width: 100%;
    height: 50%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.carousel-container {
    position: relative;
    width: 60%;
    height: auto;
    max-width: 800px;
    max-height: 400px;
    margin: 0;
    overflow: hidden;
    border-top: 5px rgb(255, 187, 0) solid;
    border-bottom: 5px rgb(255, 187, 0) solid;
    border-left: 10px rgb(255, 187, 0) dotted;
    border-right: 10px rgb(255, 187, 0) dotted;
}

.carousel-slide {
    margin: 0;
    padding: 0;
    display: flex;
    transition: 0.5s ease-in-out;
}

.carousel-slide a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: block;
    position: relative;
}

.carousel-slide a img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 400px;
    flex-shrink: 0;
    display: block;
}

.carousel-slide a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3 ease;
}

.carousel-slide a:hover::after {
    background-color: rgba(65, 65, 65, 0.1);
}

.prev-button,
.next-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: ivory;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.sub-text2 {
    border-top: 30px black solid;
    border-radius: 30px;
    width: 80%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 30px black double;
}

.sub-text-b {
    border-top: 30px black solid;
    border-radius: 30px;
    width: 80%;
    height: 20%;
    text-align: center;
    margin: 0 auto;
}

.sub-text3 {
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.news-container {
    width: 20%;
    height: 30%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.news-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.news-1 {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.news-1 a {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    margin: auto;
    padding: 0;
    border: 3px rgb(255, 187, 0) solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.news-1 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-1 a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rbga(0, 0, 0, 0);
    transition: 0.3s ease;
}

.news-1 a:hover::after {
    background-color: rgba(65, 65, 65, 0.1);
}

footer {
    position: relative;
    width: 100%;
    height: 300px;
    border-top: 3px black solid;
}

.footer {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 30%;
}

.footer-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
}

.footer-logo {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    position: relative;
}

.logo-2-container {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 80%;
    height: 30%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-map {
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    white-space: nowrap;
    color: black;
    border: 3px rgb(255, 187, 0) solid;
    border-radius: 10px;
}

.footer-menu-container {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: disc;
}

.footer-menu li {
    margin: 0 25px;
}

.footer-menu li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
    transition: 0.3s ease;
    border-radius: 10px;
}

.footer-menu li a:hover {
    background-color: ivory;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: serif;
        font-weight: bold;
    }

    header {
        position: relative;
        width: 100%;
        height: 80px;
        border-bottom: 3px black solid;
    }

    .header {
        position: absolute;
        width: 70%;
        height: 100%;
        left: 30%;
    }

    .back-to-the-top {
        position: absolute;
        width: 30%;
        height: 100%;
        right: 70%;
    }

    .logo-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 80%;
        height: auto;
        object-fit: cover;
    }

    .menu-container {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        width: 70%;
        height: 100%;
        left: 30%;
    }

    .menu-bar {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .menu-bar li {
        margin: 0 15px;
        text-align: center;
    }

    .menu-bar li a {
        color: black;
        text-decoration: none;
        padding: 5px 10px;
        display: block;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    .menu-bar li a:hover {
        background-color: ivory;
    }

    .index-html {
        color: ivory !important;
        background-color: black;
    }

    .index-html:hover {
        background-color: black !important;
    }

    .main-text {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 1200px;
        background-color: ivory;
        /*position: relative;*/
        display: flex;
        flex-direction: column;
    }

    .sub-text {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .carousel-container {
        /*position: relative;*/
        width: 60%;
        height: auto;
        max-height: 500px;
        margin: 0;
        overflow: hidden;
        border-top: 5px rgb(255, 187, 0) solid;
        border-bottom: 5px rgb(255, 187, 0) solid;
        border-left: 10px rgb(255, 187, 0) dotted;
        border-right: 10px rgb(255, 187, 0) dotted;
    }

    .carousel-slide {
        margin: 0;
        padding: 0;
        display: flex;
        transition: 0.5s ease-in-out;
    }

    .carousel-slide a {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        display: block;
        position: relative;
    }

    .carousel-slide a img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        display: block;
    }

    .carousel-slide a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3 ease;
    }

    .carousel-slide a:hover::after {
        background-color: rgba(65, 65, 65, 0.1);
    }

    .prev-button,
    .next-button {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        color: ivory;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }

    .sub-text2 {
        border-top: 30px black solid;
        border-radius: 30px;
        width: 80%;
        height: 20%;
        text-align: center;
        margin: 0 auto;
    }

    .sub-text3 {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .news-container {
        width: 20%;
        height: 30%;
        margin: 0 auto;
        /*position: relative;
        overflow: hidden;*/
    }

    .news-container img {
        width: 100%;
        height: 100%;
        /*position: absolute;*/
        object-fit: cover;
    }

    .news-1 {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .news-1 a {
        width: 100%;
        height: auto;
        margin: 0;
        overflow: hidden;
        margin: auto;
        padding: 0;
        border: 3px rgb(255, 187, 0) solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*position: relative;*/
    }

    .news-1 a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .news-1 a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rbga(0, 0, 0, 0);
        transition: 0.3s ease;
    }

    .news-1 a:hover::after {
        background-color: rgba(65, 65, 65, 0.1);
    }

    footer {
        position: relative;
        width: 100%;
        height: 300px;
        border-top: 3px black solid;
    }

    .footer {
        width: 70%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 30%;
    }

    .footer-container {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .footer-logo {
        margin: 0;
        padding: 0;
        width: 30%;
        height: 100%;
        position: relative;
    }

    .logo-2-container {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 80%;
        height: 30%;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .site-map {
        margin-top: 5%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 5px 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        white-space: nowrap;
        color: black;
        border: 3px rgb(255, 187, 0) solid;
        border-radius: 10px;
    }

    .footer-menu-container {
        margin: 0;
        padding: 0;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: disc;
    }

    .footer-menu li {
        margin: 0 25px;
    }

    .footer-menu li a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        display: block;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    .footer-menu li a:hover {
        background-color: ivory;
    }
}
